{
  "root": true,
  "env": { "browser": true, "node": true },
  "extends": [
    "eslint:all",
    "plugin:@typescript-eslint/all",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:unicorn/all",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"],
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-param-reassign": "off",

    "lines-between-class-members": [
      "error",
      "always",
      { "exceptAfterSingleLine": true }
    ],

    "@typescript-eslint/no-type-alias": "off",
    "@typescript-eslint/prefer-readonly-parameter-types": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",

    "@typescript-eslint/consistent-type-imports": "warn",

    "unicorn/no-array-for-each": "off",

    "unicorn/prevent-abbreviations": ["error", { "ignore": ["^args$"] }]
  },
  "overrides": [
    {
      "files": ["rollup.config.ts", "jest.config.js"],
      "rules": {
        "unicorn/prevent-abbreviations": "off",
        "unicorn/prefer-module": "off"
      }
    },
    {
      "files": ["src/__tests__/**/*"],
      "rules": {
        "unicorn/prefer-module": "off"
      }
    }
  ],
  "ignorePatterns": ["dist", "coverage"]
}
