{
  "plugins": ["sentence-case"],

  // Missing (from previous GH action input release config)
  // draft-pull-request: false

  "bootstrap-sha": "fbf8187c7f5a40ba553a1bfc29a9eb8d3a5e8ff5",
  "release-type": "node",
  "draft": false,
  "prerelease": true,
  // "prerelease-type": "beta",
  "bump-minor-pre-major": true,
  "bump-patch-for-minor-pre-major": true,
  "pull-request-title-pattern": "chore(release): ${version}",

  // Defaults: https://git.io/JqCZL
  // "changelog-sections": [],

  "signoff": "Danry Ague <74456102+decanTyme@users.noreply.github.com>",

  "packages": {
    ".": {
      "include-component-in-tag": false
    }
  },

  "$schema": "http://json-schema.org/draft-07/schema#"
}
